.deck {
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 0% 40%;
  padding: 0px;
  justify-content: space-evenly;
}

.card {
  padding: 10px;
  font-size: 35px;
  width:70px;
  height: 70px;
  background-color: coral;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  color: coral;
  margin: 10px;
  border-radius: 12%;
  transition: all .6s ease;
}

.stars {
  display: flex;
  list-style-type: none;
}

.stars li {
  margin: 10px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.restart {
  margin: 0px 20px;
}

.show {
  transform: rotateY(-180deg);
  transition: all .6s ease;
}

.open {
  color: white;
  background-color: black;
  transition: all .6s ease;
}

.fa.fa-star {
  text-shadow: 0 0 3px #000;
  color: whitesmoke;
}

.yellow {
  color: yellow !important;
}